header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(37, 37, 39);
  color: #ffffff;
  
}

header .h3 {
  font-size: 32px;
  font-weight: bold;
}
